h1 ,p {
    color: silver;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
nav {
  float: right;
  color: brown;

}
a , h3{
    text-decoration: underline;
  color: cadetblue;
}
h2 {
    color: grey;
}

